<form action = "/random/results">
<label for="min">Minimum</label>
<input id="min" type="text" name = "user_min" placeholder = "Enter a number"><br>
<label for="max">Maximum</label>
<input id="max" type="text" name = "user_max" placeholder = "Enter a number"> <br>
<button>Pick random number</button>
</form>
