
<br>
<form action="/square_root/results">
<label for="user_number_id">Enter a number</label>
<input id="user_number_id" name="user_number" placeholder="Enter a number">
<br>
<button>Calculate square root</button>
</form>
